@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
* {
  font-family: "Ubuntu", sans-serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  transition: all 0.5s;
}

body,
#root {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

#root {
  background-color: #f4f4f4;
}

.form-control {
  @apply flex flex-col;
}

.form-control label {
  @apply font-bold;
}

.form-control input, .form-control textarea {
  @apply border-gray-600/20 border-2 rounded-lg py-1 px-2;
}
